{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "jest": true
    },
    "extends": "airbnb",
    "rules": {
      "indent": [2, 4],
      "react/jsx-indent": [2, 4],
      "react/jsx-indent-props": [2, 4],
      "jsx-quotes": [2, "prefer-single"],
      "jsx-a11y/anchor-is-valid": [ "error", { "components": [ "Link" ], "specialLink": [ "to" ] } ],
      "import/no-unresolved": [2, { "ignore": [ "index.css" ] }]
    }
  }
